# Python (FastAPI backend)
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
**/env/
**/venv/
**/venv2/
*.sqlite3
instance/
*.log
.mypy_cache/
.pytest_cache/
coverage.*

# Node.js (Next.js frontend)
node_modules/
npm-debug.log*
.env.local

# Cairo (solaris_conexus_token)
*.json
*.sierra
*.casm
target/
cairo_output/
*/owner/
*/owner_signer/

# Arduino
*.hex
*.elf
*.bin
*.ino.*
*.bak

# Project-specific
*.db
*.sqlite
*.pid
logs/
__pypackages__/
.idea/
*.iml

