africastalking==1.2.9
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.15.2
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
base58==2.1.1
bcrypt==3.2.2
bitarray==2.9.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
ckzg==2.1.1
click==8.1.8
crypto_cpp_py==1.4.5
cryptography==44.0.2
cytoolz==0.12.3
dataclasses-json==0.6.7
dnspython==2.7.0
ecdsa==0.18.0
email_validator==2.2.0
eth-hash==0.7.1
eth-keyfile==0.9.1
eth-keys==0.7.0
eth-typing==5.2.1
eth-utils==5.3.0
fastapi==0.115.12
frozenlist==1.6.0
greenlet==3.2.0
h11==0.14.0
hexbytes==0.3.1
idna==3.10
ipfshttpclient==0.8.0a2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
lark==1.2.2
lru-dict==1.3.0
Mako==1.3.10
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-oneofschema==3.1.1
marshmallow_dataclass==8.7.1
mpmath==1.3.0
multiaddr==0.0.9
multidict==6.4.3
mypy_extensions==1.1.0
netaddr==1.3.0
nylas==6.8.0
packaging==25.0
paho-mqtt==2.1.0
parsimonious==0.10.0
passlib==1.7.4
poseidon_py==0.1.5
propcache==0.3.1
protobuf==3.19.5
psycopg2-binary==2.9.10
py-ecc==8.0.0
pyasn1==0.4.8
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.3
pydantic_core==2.33.1
pyserial==3.5
python-dotenv==1.1.0
python-jose==3.4.0
pyunormalize==16.0.0
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.24.0
rsa==4.9.1
schema==0.7.7
setuptools==80.0.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.40
starknet-py==0.26.2
starlette==0.46.2
sympy==1.12.1
toolz==1.0.0
typeguard==4.4.2
types-requests==2.32.0.20250328
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
varint==1.0.2
websockets==15.0.1
yarl==1.20.0
